body {
  background-color: #EEEEEE;
}

#result {
  padding: 20px;
  margin: 20px;
  text-align: left;
  box-shadow: 2px 2px 2px #36393D;
  background-color: #EEEEEE;
  font-weight: bold;
  background-color: #EEEEEE;
}

#result-box {
  display: none;
}

.content {
  padding: 20px;
  margin: 20px;
  text-align: left;
  background-color: #CDEB8B;
  box-shadow: 2px 2px 2px #36393D;
}

.content::after {
  content: "";
  clear: both;
  display: table;
}

.jumbotron {
  text-align: center;
  background-color: #EEEEEE;
}

.title-text {
  color: #CDEB8B !important;
  font-weight: bold;
  text-shadow: 3px 3px 3px #36393D;
  text-decoration: underline;
}

.form-box {
  float: left;
  width: 50%;
  padding: 20px;
  margin: 10px;
  background-color: #EEEEEE;
  height: 350px;
  color: #356AA0;
  box-shadow: 2px 2px 2px #36393D;
}

input {
  color: black;
}

.options {
  float: right;
  width: 40%;
  margin: 10px;
  padding: 20px;
  background-color: #EEEEEE;
  height: 350px;
  color: #356AA0;
  box-shadow: 2px 2px 2px #36393D;
}

.box-title, .form-group {
  padding: 20px;
}